numpy<2.0.0
pandas
opencv-python
scikit-learn
matplotlib
seaborn
tqdm


jupyter

# vs BuildTools 깔아서 cpp관련 된거 설치후
gymnasium[all]
pyvirtualdisplay
stable-baselines3
huggingface_sb3


# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121


#PyOpenGL
#PyOpenGL_accelerate
#pyvirtualdisplay
#ffmpeg-python
#ufal.pybox2d
#box2d
#box2d-kengz

#stable-baselines3==2.0.0a5
#swig
#gymnasium[box2d]
